IBM - Project/Project development phase/Sprint 2/NodeRed.json
[{"id":"91bcb4c3d842024a","type":"tab","label":"new smart waste management","disabled":false,"info":"","env":[]},{"id":"a06ec01c36cd68d5","type":"ibmiot","name":"NodeMCU","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"63d0c89133a32847","type":"ibmiot","name":"Child_Location","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"fe4024ee907de35b","type":"ui_group","name":"Dumpster location","tab":"5e96ee55f080fd17","order":2,"disp":true,"width":7,"collapse":false,"className":""},{"id":"cc3cc78235661aa1","type":"cloudant","host":"https://cloudant.com/api/0ec8ed8b-bd97-4c1b-82d6-baa22bca93fe","name":"Location"},{"id":"130210ae87e5e41e","type":"ui_tab","name":"Map page2","icon":"dashboard","disabled":false,"hidden":false},{"id":"346aa7e9fb56bad3","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"19f69c24c72c7fc6","type":"ui_group","name":"Dampster2 Location","tab":"130210ae87e5e41e","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"f8601f50a7b5ef9d","type":"ui_tab","name":"Mappage2","icon":"dashboard2","disabled":false,"hidden":false},{"id":"5e96ee55f080fd17","type":"ui_tab","name":"Map page1","icon":"dashboard","disabled":false,"hidden":false},{"id":"e17e9a7c39f8c474","type":"ui_group","name":"CHILD LOCATION","tab":"130210ae87e5e41e","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"e50d66c652a7cdb3","type":"ui_group","name":"Login","tab":"212807297aa393ed","order":1,"disp":true,"width":"6","collapse":false,"className":"login"},{"id":"212807297aa393ed","type":"ui_tab","name":"Login","icon":"dashboard","order":1,"disabled":false,"hidden":true},{"id":"7881da80bcd9dccc","type":"ibmiot in","z":"91bcb4c3d842024a","authentication":"apiKey","apiKey":"a06ec01c36cd68d5","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"NodeMCU","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":70,"y":280,"wires":[["a243ef632d57612b"]]},{"id":"a243ef632d57612b","type":"function","z":"91bcb4c3d842024a","name":"","func":"var wei = msg.payload.weight\nvar lat = msg.payload.latitude\nvar lon = msg.payload .longitude\nglobal.set('latitude',lat)\nglobal.set('longitude',lon)\nglobal.set('weight',wei)\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":280,"wires":[["7b64c2eaf5a31747","6872f099e75e03e4"]]},{"id":"7b64c2eaf5a31747","type":"debug","z":"91bcb4c3d842024a","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":500,"y":300,"wires":[]},{"id":"6872f099e75e03e4","type":"function","z":"91bcb4c3d842024a","name":"","func":"msg.payload={\n    'name': \"Dumster Location\",\n    'weight': msg.payload.weight,\n    'latitude': msg.payload.latitude,\n    'longitude': msg.payload.longitude\n}\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":100,"y":360,"wires":[["0660e468777352c7","5d4d9fb131e7edcd","5d0ed9a5037ec1ef","8ab5f9f1ab3f54ac"]]},{"id":"047b419d3817dd13","type":"ui_toast","z":"91bcb4c3d842024a","position":"dialog","displayTime":"5","highlight":"red","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":true,"className":"[msg.paload.longitude]","topic":"Trash over filled ..!","name":"dumster notification","x":200,"y":660,"wires":[[]]},{"id":"48ad2d0e21ad1d33","type":"switch","z":"91bcb4c3d842024a","name":"weight check","property":"payload.weight","propertyType":"msg","rules":[{"t":"gte","v":"55","vt":"str"},{"t":"eq","v":"0","vt":"str"},{"t":"gte","v":"60","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":190,"y":600,"wires":[["e85e412f3a1e26da"],["e65e84b076110cac"],["047b419d3817dd13"]]},{"id":"0660e468777352c7","type":"rbe","z":"91bcb4c3d842024a","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":110,"y":460,"wires":[["48ad2d0e21ad1d33","488093b67886e129","0cd28c8761ef3a19"]]},{"id":"e65e84b076110cac","type":"ui_toast","z":"91bcb4c3d842024a","position":"dialog","displayTime":"5","highlight":"red","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":true,"className":"[msg.paload.longitude]","topic":"Trash Empty !!","name":"dumster notification","x":480,"y":660,"wires":[[]]},{"id":"5d0ed9a5037ec1ef","type":"ui_worldmap","z":"91bcb4c3d842024a","group":"fe4024ee907de35b","order":1,"width":0,"height":0,"name":"Dumpster Location","lat":"","lon":"","zoom":"16","layer":"EsriS","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"true","panlock":"false","zoomlock":"true","hiderightclick":"false","coords":"none","showgrid":"false","showruler":"true","allowFileDrop":"true","path":"/worldmap","overlist":"DR,CO,RA,DN,BU,TL,HM","maplist":"OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":370,"y":460,"wires":[]},{"id":"488093b67886e129","type":"debug","z":"91bcb4c3d842024a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":520,"wires":[]},{"id":"5d4d9fb131e7edcd","type":"cloudant out","z":"91bcb4c3d842024a","name":"","cloudant":"cc3cc78235661aa1","database":"smartwastemanagement","service":"smart-waste-manageme-cloudant-1667545692021-94751","payonly":false,"operation":"insert","x":390,"y":360,"wires":[]},{"id":"e85e412f3a1e26da","type":"ui_toast","z":"91bcb4c3d842024a","position":"dialog","displayTime":"5","highlight":"red","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":true,"className":"[msg.paload.longitude]","topic":"Trash is almost Filled!","name":"dumster notification","x":480,"y":620,"wires":[[]]},{"id":"8ab5f9f1ab3f54ac","type":"debug","z":"91bcb4c3d842024a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":350,"y":400,"wires":[]},{"id":"0cd28c8761ef3a19","type":"ui_button","z":"91bcb4c3d842024a","name":"","group":"fe4024ee907de35b","order":2,"width":0,"height":0,"passthru":false,"label":"Dump","tooltip":"","color":"","bgcolor":"red","className":"","icon":"delete_sweep","payload":"","payloadType":"str","topic":"payload","topicType":"msg","x":250,"y":540,"wires":[["5986cfd1398e6c43"]]},{"id":"5986cfd1398e6c43","type":"ui_toast","z":"91bcb4c3d842024a","position":"dialog","displayTime":"5","highlight":"red","sendall":false,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"The trash can will be cleaned soon......","name":"dumster notification","x":460,"y":560,"wires":[[]]},{"id":"8d74247b7143e711","type":"ui_form","z":"91bcb4c3d842024a","name":"Dashboard Sign-In","label":"","group":"e50d66c652a7cdb3","order":0,"width":"6","height":"2","options":[{"label":"Username","value":"username","type":"text","required":true,"rows":null},{"label":"Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"username":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","topicType":"str","splitLayout":false,"className":"","x":110,"y":80,"wires":[["f7f7f8228f6a4070"]]},{"id":"f7f7f8228f6a4070","type":"function","z":"91bcb4c3d842024a","name":"Account Verification","func":"var accounts =  flow.get(\"accounts\") || [ { username : \"vinnarasan\", password : \"smart\"}] ; \n\nvar username = msg.payload.username ;\nvar password = msg.payload.password ; \n\nmsg.payload = 1;\n\naccounts.forEach(function ( account ){\n    if ( account.username == username ) {\n       msg.payload = 2;\n       if ( account.password == password ) {\n           msg.payload = 0;\n       } \n    }\n});\n\nif ( msg.payload == 0 ) {\n  var currentsocketid = flow.get(\"clientid\") || undefined;\n  if ( currentsocketid !== undefined && currentsocketid !== msg.socketid ) msg.payload = 3;\n}\n// keep the original socketid from msg.socketid;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":80,"wires":[["883726bd35c1e366"]]},{"id":"883726bd35c1e366","type":"switch","z":"91bcb4c3d842024a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":510,"y":40,"wires":[["efe1b13df56efe8c"],["d6e2e53717d8879d"],["220d1706cf2b09be"],["efe1b13df56efe8c"]]},{"id":"d6e2e53717d8879d","type":"function","z":"91bcb4c3d842024a","name":"= 1 : Unknown User","func":"msg.payload = \"Username Doesn't exist!!!\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":60,"wires":[["896aa171c4e0b920"]]},{"id":"220d1706cf2b09be","type":"function","z":"91bcb4c3d842024a","name":"= 2 : Wrong Password","func":"msg.payload = \"Invalid Password\";\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":100,"wires":[["896aa171c4e0b920"]]},{"id":"c4ad81b3e682f486","type":"function","z":"91bcb4c3d842024a","name":"= 4 : System In Use","func":"msg.payload = \"System is used by other user.\";\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":140,"wires":[["72a2c178094658da"]]},{"id":"efe1b13df56efe8c","type":"function","z":"91bcb4c3d842024a","name":"= 0 : Success","func":"/ activate session timer /\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nflow.set(\"sessionTimer\", currTime);\nflow.set(\"clientid\", msg.socketid);\n/ ui-control payload */\nmsg.payload = \"1\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":20,"wires":[["6797f645c4e61573"]]},{"id":"896aa171c4e0b920","type":"ui_toast","z":"91bcb4c3d842024a","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"Authentication Failed","name":"Authentication Failure Dialog","x":800,"y":300,"wires":[[]]},{"id":"72a2c178094658da","type":"ui_toast","z":"91bcb4c3d842024a","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"System In Use.","name":"System In-Use Dialog","x":800,"y":340,"wires":[[]]},{"id":"6797f645c4e61573","type":"ui_ui_control","z":"91bcb4c3d842024a","name":"","events":"change","x":840,"y":260,"wires":[[]]},{"id":"5f6a5bc3f1061160","type":"function","z":"91bcb4c3d842024a","name":"Time-Out","func":"/ activate session timer /\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nflow.set(\"sessionTimer\", 0);\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = \"Session Expired! Please singin again!\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":180,"wires":[["c61fd5df10425eab","d07c49119355a00a"]]},{"id":"c61fd5df10425eab","type":"ui_toast","z":"91bcb4c3d842024a","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"Session Timeout","name":"Time-Out Dialog","x":700,"y":380,"wires":[[]]},{"id":"d07c49119355a00a","type":"function","z":"91bcb4c3d842024a","name":"Sign-In Redirection","func":"var msg = {};\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload =\"0\";\n\nflow.set(\"clientid\", undefined);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":240,"wires":[["117dbe822e36ccb4"]]},{"id":"a3c7629b29f3c300","type":"function","z":"91bcb4c3d842024a","name":"Detect Session Timer","func":"var sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nvar SESSION_TIMEOUT = 20*60*1000; //15 mins\n\nif ( sessionTimer === 0 / Inactive, No user signed in / ) {\n    msg.payload = 2;\n} else {\n    if ( currTime - sessionTimer > SESSION_TIMEOUT ) {\n      msg.payload = 0;  \n    } else {\n      msg.payload = 1;        \n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":200,"wires":[["d5a38cdfa2978200"]]},{"id":"d5a38cdfa2978200","type":"switch","z":"91bcb4c3d842024a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":450,"y":200,"wires":[["5f6a5bc3f1061160"],[],["d07c49119355a00a"]]},{"id":"97338bccfbae482e","type":"inject","z":"91bcb4c3d842024a","name":"Timer","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"15","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":200,"wires":[["a3c7629b29f3c300"]]},{"id":"117dbe822e36ccb4","type":"ui_ui_control","z":"91bcb4c3d842024a","name":"Go to Signin Group","events":"connect","x":630,"y":440,"wires":[[]]}]