IBM - Project/Project development phase/Sprint 2/nodered.json
[{"id":"91bcb4c3d842024a","type":"tab","label":"new smart waste management","disabled":false,"info":"","env":[]},{"id":"a06ec01c36cd68d5","type":"ibmiot","name":"NodeMCU","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"63d0c89133a32847","type":"ibmiot","name":"Child_Location","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"fe4024ee907de35b","type":"ui_group","name":"Dumpster location","tab":"5e96ee55f080fd17","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"cc3cc78235661aa1","type":"cloudant","host":"https://cloudant.com/api/0ec8ed8b-bd97-4c1b-82d6-baa22bca93fe","name":"Location"},{"id":"130210ae87e5e41e","type":"ui_tab","name":"Map page2","icon":"dashboard","disabled":false,"hidden":false},{"id":"346aa7e9fb56bad3","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"19f69c24c72c7fc6","type":"ui_group","name":"Dampster2 Location","tab":"130210ae87e5e41e","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"f8601f50a7b5ef9d","type":"ui_tab","name":"Mappage2","icon":"dashboard2","disabled":false,"hidden":false},{"id":"5e96ee55f080fd17","type":"ui_tab","name":"Map page1","icon":"dashboard","disabled":false,"hidden":false},{"id":"7881da80bcd9dccc","type":"ibmiot in","z":"91bcb4c3d842024a","authentication":"apiKey","apiKey":"a06ec01c36cd68d5","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"NodeMCU","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":110,"y":40,"wires":[["a243ef632d57612b"]]},{"id":"a243ef632d57612b","type":"function","z":"91bcb4c3d842024a","name":"","func":"var wei = msg.payload.weight\nvar lat = msg.payload.latitude\nvar lon = msg.payload .longitude\nglobal.set('latitude',lat)\nglobal.set('longitude',lon)\nglobal.set('weight',wei)\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":100,"wires":[["7b64c2eaf5a31747","6872f099e75e03e4"]]},{"id":"7b64c2eaf5a31747","type":"debug","z":"91bcb4c3d842024a","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":100,"wires":[]},{"id":"6872f099e75e03e4","type":"function","z":"91bcb4c3d842024a","name":"","func":"msg.payload={\n    'name': \"Dumster Location\",\n    'weight': msg.payload.weight,\n    'latitude': msg.payload.latitude,\n    'longitude': msg.payload.longitude\n}\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":240,"wires":[["0660e468777352c7","5d4d9fb131e7edcd","5d0ed9a5037ec1ef","8ab5f9f1ab3f54ac"]]},{"id":"047b419d3817dd13","type":"ui_toast","z":"91bcb4c3d842024a","position":"dialog","displayTime":"5","highlight":"red","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":true,"className":"[msg.paload.longitude]","topic":"Trash  over filled","name":"dumster notification","x":620,"y":620,"wires":[[]]},{"id":"48ad2d0e21ad1d33","type":"switch","z":"91bcb4c3d842024a","name":"weight check","property":"payload.weight","propertyType":"msg","rules":[{"t":"gte","v":"55","vt":"str"},{"t":"eq","v":"0","vt":"str"},{"t":"gte","v":"60","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":310,"y":540,"wires":[["e85e412f3a1e26da"],["e65e84b076110cac"],["047b419d3817dd13"]]},{"id":"0660e468777352c7","type":"rbe","z":"91bcb4c3d842024a","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":290,"y":360,"wires":[["48ad2d0e21ad1d33","488093b67886e129"]]},{"id":"e65e84b076110cac","type":"ui_toast","z":"91bcb4c3d842024a","position":"dialog","displayTime":"5","highlight":"red","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":true,"className":"[msg.paload.longitude]","topic":"Trash Empty","name":"dumster notification","x":620,"y":540,"wires":[[]]},{"id":"5d0ed9a5037ec1ef","type":"ui_worldmap","z":"91bcb4c3d842024a","group":"fe4024ee907de35b","order":0,"width":"0","height":"0","name":"Dumpster Location","lat":"","lon":"","zoom":"16","layer":"EsriS","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"true","panlock":"false","zoomlock":"true","hiderightclick":"false","coords":"none","showgrid":"false","showruler":"true","allowFileDrop":"true","path":"/worldmap","overlist":"DR,CO,RA,DN,BU,TL,HM","maplist":"OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":610,"y":280,"wires":[]},{"id":"488093b67886e129","type":"debug","z":"91bcb4c3d842024a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":360,"wires":[]},{"id":"5d4d9fb131e7edcd","type":"cloudant out","z":"91bcb4c3d842024a","name":"","cloudant":"cc3cc78235661aa1","database":"smartwastemanagement","service":"smart-waste-manageme-cloudant-1667545692021-94751","payonly":false,"operation":"insert","x":630,"y":160,"wires":[]},{"id":"e85e412f3a1e26da","type":"ui_toast","z":"91bcb4c3d842024a","position":"dialog","displayTime":"5","highlight":"red","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":true,"className":"[msg.paload.longitude]","topic":"Trash is almost Filled","name":"dumster notification","x":620,"y":460,"wires":[[]]},{"id":"8ab5f9f1ab3f54ac","type":"debug","z":"91bcb4c3d842024a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":220,"wires":[]}]